body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8e9e9;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.reloj {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #f77f00, #d8a200);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}